@use '../abstracts' as a;

.stats {
	background-color: a.$color-primary;
	padding: 75px 0;

	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 24px;

		@include a.respond-to('tablet') {
			justify-content: center;
			gap: 32px;
		}
	}

	@include a.respond-to('tablet') {
		padding: 50px 0;
	}
}

.stat-item {
	display: flex;
	align-items: center;
	gap: 14px;
	color: a.$color-text-light;

	@include a.respond-to('tablet') {
		flex: 1 1 calc(33% - 32px);
		min-width: 130px;
	}

	@include a.respond-to('mobile') {
		flex: 1 1 calc(50% - 32px);
	}

	@include a.respond-to('small') {
		flex: 1 1 100%;
	}
}

.stat-icon {
	width: a.$stat-icon-size;
	height: a.$stat-icon-size;
	flex-shrink: 0;
}

.stat-info {
	@include a.flex-column;
}

.stat-number {
	font-size: a.$font-size-lg;
	font-weight: 500;
	line-height: a.$line-height-tight;

	@include a.respond-to('small') {
		font-size: 18px;
	}
}

.stat-label {
	font-size: a.$font-size-base;
	font-weight: 400;
	line-height: a.$line-height-base;
}
