@use 'variables' as v;

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column($align: flex-start) {
	display: flex;
	flex-direction: column;
	align-items: $align;
}

@mixin btn-base {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: v.$letter-spacing-nav;
	font-size: v.$font-size-base;
	font-weight: 400;
	transition: background-color 0.3s ease;
}

@mixin section-center-content {
	@include flex-column(center);
}
